[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
requests = "*"
appium-python-client = "*"
pytest = "*"
selenium = "*"
elasticsearch = "*"
elasticsearch-dsl = "*"
allure-pytest = "*"
pyes = "*"

[requires]
python_version = "3.8"
